<div style="border: 1px solid blue">
    <img height="100" width="100" src="{{ tag.image }}"/>
    <h1>{{ tag.title }}</h1>
    <p>{{ tag.description }}</p>
    <a href="{{ tag.url }}">Visit page</a>
</div>
